# Ignore build artifacts and temporary files

# Object files and assembly
src/*.o
src/st.s
src/blib.s
tools/*.o

# Build directories and executables
src/st
src/cg
src/op
# Ignore generated binaries in tools/
tools/cmpltest
tools/xref
tools/gpm
build/

# Misc temporary files
*~
*.tmp
.DS_Store
